[submodule "s3StaticWebsite"]
	path = s3StaticWebsite
	url = https://github.com/MgELevateLabsInternship/s3StaticWebsite.git
[submodule "FinOps-AWS"]
	path = FinOps-AWS
	url = https://github.com/MgELevateLabsInternship/FinOps-AWS.git
[submodule "GitOps-ArgoCD-K3s"]
	path = GitOps-ArgoCD-K3s
	url = https://github.com/MgELevateLabsInternship/GitOps-ArgoCD-K3s.git
